<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>Edit Band Information</h1>
    <form action="/bands/profile/<%= index %>?_method=PUT" method="POST">
        <input type="text" name="username" value="<%= band.username %>"> <br> </br>
        <input type="password" name="password" value="<%= band.password %>"> <br> </br>
        <input type="text" name="bandName" value="<%= band.bandName %>"> <br> </br>
        <input type="text" name="genre" value="<%= band.genre %>"> <br> </br>
        <input type="text" name="bandMembers" value="<%= band.bandMembers %>"> <br> </br>
        <input type="url" name="bcLink" value="<%= band.bcLink %>"> <br> </br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>