<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <a href=<%= "/bands/" %> style="text-decoration : none; color: #000000;"><h1>Bandspace</h1></a>
    <h4>Edit Band Information</h4>
    <form action="/bands/profile/<%= index %>?_method=PUT" method="POST">
        Username: <input type="text" name="username" value="<%= band.username %>"> <br> </br>
        Password: <input type="password" name="password" value="<%= band.password %>"> <br> </br>
        Band Name: <input type="text" name="bandName" value="<%= band.bandName %>"> <br> </br>
        Genre: <input type="text" name="genre" value="<%= band.genre %>"> <br> </br>
        Band Members: <input type="text" name="bandMembers" value="<%= band.bandMembers %>"> <br> </br>
        Profile Image Link: <input type="text" name="img" value="<%= band.img %>"> <br> </br>
        Discography Link: <input type="url" name="bcLink" value="<%= band.bcLink %>"> <br> </br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>