<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <title>Bandspace</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
  <header>
    <a href=<%= "/bands/" %> style="text-decoration : none; color: #000000;"><h1>Bandspace</h1></a>
    <h2 id='welcome'>Welcome, <%= band.bandName %></h2>
  </header>
  <main>
    <img src=<%=band.img%> alt="Profile Image">
    <p><u>Genre:</u> <%= band.genre %></p>
    <p><u>Members:</u> <%= band.bandMembers %></p>
    <a href=<%= band.bcLink %>>Link to Discography</a>
    <p><u>Post History:</u> 
      <% for (let i=0; i < band.Posts.length; i++) { %>
        <p id='posts'><%= band.Posts[i].text %></p>
      <% } %>
    </p>
    <br> </br>
    <form action="/bands/profile/<%= band.id %>" method="POST">
      <input type="text" name="text" placeholder="Post Text">
      <input type="hidden" name="bandId" value="<%= band.id %>">
      <input type="submit" value="Submit Post">
    </form> <br> </br>
  </main>
  <footer>
    <form action="/bands/profile/<%= band.id %>/edit">
      <input type="submit" value="Edit Profile">
    </form> <br> </br>
    <form action="/bands/profile/<%= band.id %>?_method=DELETE" method="POST">
		  <input type="submit" value="Delete Profile" />
    </form>
  </footer>
</body>
</html>