<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome, <%= band.bandName %></h2>
    <p><%= band.genre %></p>
    <p><%= band.bandMembers %></p>
    <a href=<%= band.bcLink %>>Link to Discography</a>
      <% for (let i=0; i < band.Posts.length; i++) { %>
        <p><%= band.Posts[i].text %></p>
      <% } %>
      <br> </br>
    <form action="/bands/profile/<%= band.id %>?_method=DELETE" method="POST">
		<input type="submit" value="Delete Profile" />
    </form>
</body>
</html>

<!-- bandId: '',
username: '',
password: '',
bandName: '',
genre: '',
bandMembers: '',
bcLink: '', -->